@import '~bootstrap/scss/bootstrap';
@import 'twicon.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-select/dist/vue-select.css';
.navbar{
  margin:           0 -30px;
  padding:          0.25rem 3rem !important;
  background-color: white;
  img{
    max-width: 100px;
  }
  .nav-link{
    color: #666666;
  }
}
.banner{
  background-image:    url('../images/banner.png');
  background-position: right bottom; /*Positioning*/
  background-repeat:   no-repeat; /*Prevent showing multiple background images*/
  background-size:     500px;
  margin:              15px 0;
  background-color:    white;
  border-radius:       1em;
  padding:             2em 1em;
  box-shadow:          0 14px 24px rgba(0, 0, 0, 0.04);
  min-height:          350px;
  h1{
    font-size:   4.5rem;
    font-weight: bold;
    margin:      3%;
  }
  .search-form-group{
    margin: 0 3%;
    .vs__dropdown-toggle{
      width:     200px;
      height:    40px;
      font-size: 1.1em;
    }
    .vs__dropdown-menu{
      width: 200px;
    }
    .search-form{
      display:     flex;
      align-items: stretch;
      margin:      1em 0;
      flex-wrap:   wrap;
      .keyWord-input{
        width:         250px;
        margin:        0 15px;
        border:        1px solid rgba(60, 60, 60, 0.26) !important;
        border-radius: 4px;
        height:        40px;
      }
      .btn-success{
        background-color: #3FB195;
        border-color:     #40aa90;
        padding:          5px 1.5em;
        letter-spacing:   3px;
        font-size:        1.2em;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}